.cardsM{
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   justify-content: center;
   margin-top: 5%;
   margin-bottom: 2rem;
  
} 




#prueba{
    width: 18rem;
    height: 30rem;
    overflow: auto;
}

#prueba img {
    height: 12rem;
    object-fit: cover;
    transition: height 0.3s; /* Agrega una transición suave */
    
   
}

#prueba img:hover {
    height: 20rem;
    object-fit: cover;
    overflow: visible;
    overflow-x: auto;
  
}

