#logo2 {
  width: 250px; /* Ajustado para ser más pequeño en móviles */
  height: 250px;
  border-radius: 50%;
  margin-left: 50%;
}

.admin-header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: left;

}

.contenedorNav{
  display: grid;
  grid-template-columns: auto auto;
}

.admin-info {
  margin-bottom: 15px;
}

.admin-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.admin-nav li {
  margin-right: 15px;
}

.admin-nav a {
  color: white;
  text-decoration: none;
}

.admin-nav a:hover {
  text-decoration: underline;
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .admin-header {
    text-align: center;
    justify-content: center;
  }

  .admin-nav ul {
    flex-direction: column;
    align-items: center;
  }

  .admin-nav li {
    margin: 10px 0;
  }

  .contenedorNav{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #img_container{
    display: flex;
    width: 80%;
  }

  #img_container img{
    width: 150px; /* Ajustado para ser más pequeño en móviles */
    height: 150px;
    border-radius: 50%; 
    margin-left: 135px;
  }
}

  